/*Responsive Design*/
/*Media queries*/

/*Phone*/
@media(max-width:640px){
    html {
        font-size: 10px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-description-container {
        width: 100%;
        margin: 4rem 0px;
    }

}

/*Table*/
@media ((min-width:641px) and (max-width:1007px)){
    html {
        font-size: 12px;
    }
}